<div class="center-container">
    <div class="center-inner">
        <div class="buttons">
            <a routerLink="/register">Register</a>
            <a routerLink="">Login</a>
        </div>
        <!-- <p>Choose Your Way</p> -->
        <!-- <p>{{message | lowercase}}</p>
        <p>{{message | uppercase}}</p>
        <p>{{currency | currency:"JPY"}}</p>
        <p>{{currency | currency:"USD"}}</p>
        <p>{{currency | currency:"GBP"}}</p>
        <p>{{currency | currency:"EUR"}}</p>
        <p>{{currency | currency:"GEL"}}</p>
        <p>{{percent | percent}}</p>
        <p>{{today | date}}</p>
        <p>{{today | date:'fullDate'}}</p>
        <p>{{today | date:'medium'}}</p>
        <p>{{today | date:'short'}}</p>
        <p>{{today | date:'long'}}</p> -->
    </div>
</div>