.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
}

form input{
    margin-top: 15px;
    width: 300px;
    height: 40px;
    border: solid 1px #ddd;
    border-radius: 12px;
    text-indent: 12px;
}

form button{
    margin-top: 10px;
    background-color: blue;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}
